# macOS & Xcode files
.DS_Store
xcuserdata/

# The cache (virtualenv instance, homebrew instance, saved vault id, etc.)
/.cache/

# Tests inputs
/tests/assets/inputs/

# Python and Ansible files
*.pyc
*.retry
