<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>prefix</string>
			<key>Required</key>
			<false/>
			<key>Name</key>
			<string>Module Prefix:</string>
			<key>Description</key>
			<string>A prefix for the module name. Can be empty.</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string/>
		</dict>
		<dict>
			<!-- The Identifier MUST be “productName” here: that’s what makes Xcode _not_ ask for the file name when creating the file. -->
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>View Base Name:</string>
			<key>Description</key>
			<string>The name of the view (no “View” suffix).</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
			<!-- We must set an empty string as a default.
			     If we don’t, Xcode will prefix the value with the project’s class prefix. -->
			<key>Default</key>
			<string/>
		</dict>
	</array>
</dict>
</plist>
