#!/bin/sh
# vim: ts=3 sw=3 noet
# The shebang is not necessarily needed, but shellcheck wants it.
# /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\
#
#    THIS FILE IS MANAGED BY ANSIBLE, ALL LOCAL EDITS WILL BE OVERWRITTEN!
#
# /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\

export HOMEBREW_GITHUB_API_TOKEN="{{ homebrew_github_token }}"
{% if dark_mode %}

# Dark mode support for ls
export LSCOLORS=GxFxCxDxBxegedabagaced
{%- endif %}
