" /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\
"
"    THIS FILE IS MANAGED BY ANSIBLE, ALL LOCAL EDITS WILL BE OVERWRITTEN!
"
" /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\
{% if dark_mode %}

" Dark mode support
set bg=dark
{%- endif %}
