#!/bin/bash
# /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\
#
#    THIS FILE IS MANAGED BY ANSIBLE, ALL LOCAL EDITS WILL BE OVERWRITTEN!
#
# /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\ /!\

export HOMEBREW_GITHUB_API_TOKEN="{{ homebrew_github_token }}"
{% if dark_mode %}

# Dark mode support for ls
export LSCOLORS=GxFxCxDxBxegedabagaced
{%- endif %}
