<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>___M4___label___M4___</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>Program</key>
	<!-- Note USER is only available on Darwin (or at least it is not available in a debian:11-slim Linux). -->
	<string>m4_ifelse(___M4___USER___M4___, `frizlab&apos;, `___M4___FIRST_PARTY_BIN_DIR___M4___&apos;, `___M4___THIRD_PARTY_BIN_DIR___M4___&apos;)/dump-safari-tabs</string>
	<key>ProgramArguments</key>
	<array>
		<string>Safari</string>
		<string>Safari Technology Preview</string>
		<string>Orion</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<!-- Everyday hour -->
		<key>Minute</key>
		<integer>13</integer>
	</dict>
	<!-- Setting stdin is probably useless -->
	<key>StandardInPath</key>
	<string>/dev/null</string>
	<key>StandardOutPath</key>
	<string>___M4___LAUNCHD__DUMP_SAFARI_TABS_LOGS_DIR___M4___/dump-safari-tabs.out</string>
	<key>StandardErrorPath</key>
	<string>___M4___LAUNCHD__DUMP_SAFARI_TABS_LOGS_DIR___M4___/dump-safari-tabs.err</string>
</dict>
</plist>
